@using WebApp.Components.Layout
@using WebApp.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Styles -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="CSS/app.css" />
    <link rel="stylesheet" href="WebApp.styles.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />

    <!-- Scripts -->


    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <!-- HeadOutlet to inject metadata dynamically -->
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</head>

<body>

    <!-- Routes Component -->
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)"></Routes>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js from CDN -->
    <script src="js/health-overview.js"></script> <!-- Custom scripts for health-overview -->
    <script src="_framework/blazor.web.js"></script>
    
</body>
</html>
