.upgrade-process[b-h1vju6sv5k] {
    padding: 20px;
    text-align: center;
}

.upgrade-process ul[b-h1vju6sv5k] {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.upgrade-process ul li[b-h1vju6sv5k] {
    margin: 10px 0;
    font-weight: bold;
}