@inherits LayoutComponentBase

<div class="page">
    <header class="navbar">
        <NavMenu />
    </header>
    
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script>
    document.querySelector('.navbar-toggler').addEventListener('click', function () {
        const sidebar = document.querySelector('#navbarContent');
        sidebar.classList.toggle('show');
    });
</script>
