<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="/">HealthTracking App</a>

        <!-- Toggler for Mobile View -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >   
        <span class="navbar-toggler-icon"></span>
        </button>


        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/login">Login</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/image-analysis">Upload Image</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/images">View Images</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>