.navbar-toggler[b-cfr3pjxbop] {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.collapse[b-cfr3pjxbop] {
    display: none;
}

.show[b-cfr3pjxbop] {
    display: block;
}

.nav-scrollable[b-cfr3pjxbop] {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    background-color: #0044cc;
}

.nav-item[b-cfr3pjxbop]  a {
    color: #ffffff;
    padding: 0.75rem 1rem;
    display: block;
    text-decoration: none;
}

.nav-item[b-cfr3pjxbop]  a.active {
    background-color: rgba(255, 255, 255, 0.3);
}
